        /* CSS GENERAL */

        * {
            margin: 0;
            padding: 0;
            list-style-type: none !important;
            text-decoration: none !important;
        }
        
        body {
            font-size: 16px;
            background-color: #F8F9F9 !important;
        }
        
       
       
        
     
       